<?php
//payment info shown in checkout

$termsUrl = Mage::getUrl('ecentru/info/conditions');
?>

<fieldset class="form-list">

    <ul id="payment_form_<?=$this->getMethodCode(); ?>"
        style="display:none" class="form-list">

        <li>
            <input type="checkbox"
                   id="<?php echo $this->getMethodCode(); ?>_terms"
                   title="<?php echo $this->__('Terms and Conditions') ?>"
                   class="input required-entry" style="display: inline-block;"
                   name="payment[terms]"
                   value="1"
                />
            &nbsp;&nbsp;
            <label for="<?php echo $this->getMethodCode(); ?>_terms"
                   style="float:none;">
                <?php echo "Accept "; ?>
                <a href="<?=$termsUrl;?>"
                   target="_blank">Terms and conditions
                </a>
                <span class="required">*</span>
            </label>

        </li>
        <li><?php echo $this->getModel()->getConfigData('message'); ?></li>
    </ul>
</fieldset>
